* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: Helvetica, Arial, sans-serif;
}
#container,
.main,
footer,
#video,
#video iframe {
	width: 100%;
}
#header {
	background-color: blueviolet;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	position: fixed;
}
.logo {
	color: whitesmoke;
	margin-right: 1rem;
	padding-left: 0.5rem;
}
#nav-bar {
	margin-left: auto;
}
#nav-bar ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	align-items: center;
}
#nav-link a {
	padding: 1rem 0.7rem;
	margin: 0 0.2rem;
	text-decoration: none;
	color: whitesmoke;
}
#header-img {
	width: 8.5rem;
	color: whitesmoke;
}
.main {
	padding-top: 5vh;
}
.welcome {
	background-image: url('/img/trek-image-home.jpg');
	background-size: cover;
	min-height: 30vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.welcome p,
.welcome h1 {
	padding: 0.5rem 0;
	color: whitesmoke;
	font-weight: bold;
	text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.9);
}
.welcome h1 {
	font-size: 2.5rem;
	font-weight: 700;
}
.feature {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
}
.feature .text-feature {
	padding: 10px;
	text-align: center;
}
#video iframe {
	height: 25vh;
}
